backports-tarfile==1.2.0 ; python_version == "3.11"
bleach==6.2.0 ; python_version >= "3.11"
certifi==2025.1.31 ; python_version >= "3.11"
cffi==1.17.1 ; sys_platform == "linux" and platform_python_implementation != "PyPy" and python_version >= "3.11"
chardet==5.2.0 ; python_version >= "3.11"
charset-normalizer==3.4.1 ; python_version >= "3.11"
colorama==0.4.6 ; python_version >= "3.11"
cryptography==44.0.2 ; python_version >= "3.11" and sys_platform == "linux"
docutils==0.21.2 ; python_version >= "3.11"
id==1.5.0 ; python_version >= "3.11"
idna==3.10 ; python_version >= "3.11"
importlib-metadata==8.6.1 ; python_version == "3.11"
jaraco-classes==3.4.0 ; python_version >= "3.11"
jaraco-context==6.0.1 ; python_version >= "3.11"
jaraco-functools==4.1.0 ; python_version >= "3.11"
jeepney==0.9.0 ; python_version >= "3.11" and sys_platform == "linux"
keyring==25.6.0 ; python_version >= "3.11"
markdown-it-py==3.0.0 ; python_version >= "3.11"
mdurl==0.1.2 ; python_version >= "3.11"
more-itertools==10.6.0 ; python_version >= "3.11"
nh3==0.2.21 ; python_version >= "3.11"
packaging==24.2 ; python_version >= "3.11"
pkginfo==1.12.1.2 ; python_version >= "3.11"
pycparser==2.22 ; sys_platform == "linux" and platform_python_implementation != "PyPy" and python_version >= "3.11"
pygments==2.19.1 ; python_version >= "3.11"
pyparsing==3.2.1 ; python_version >= "3.11"
pywin32-ctypes==0.2.3 ; python_version >= "3.11" and sys_platform == "win32"
readme-renderer==44.0 ; python_version >= "3.11"
requests-toolbelt==1.0.0 ; python_version >= "3.11"
requests==2.32.3 ; python_version >= "3.11"
rfc3986==2.0.0 ; python_version >= "3.11"
rich==13.9.4 ; python_version >= "3.11"
secretstorage==3.3.3 ; python_version >= "3.11" and sys_platform == "linux"
setuptools==76.0.0 ; python_version >= "3.11"
six==1.17.0 ; python_version >= "3.11"
tqdm==4.67.1 ; python_version >= "3.11"
twine==6.1.0 ; python_version >= "3.11"
urllib3==2.3.0 ; python_version >= "3.11"
webencodings==0.5.1 ; python_version >= "3.11"
zipp==3.21.0 ; python_version == "3.11"
